{% extends "base.html" %}
{% block content %}
<link rel="stylesheet" href="{{ url_for('static', filename='st.css') }}">
    <section class="form-section">
        <h2>Inscription</h2>
        <form method="POST" action="{{ url_for('register') }}">
            {{ form.hidden_tag() }}
            <div class="form-group">
                {{ form.username.label }}<br>
                {{ form.username(size=32) }}<br>
                {% for error in form.username.errors %}
                    <span class="error-message">[{{ error }}]</span>
                {% endfor %}
            </div>
            <div class="form-group">
                {{ form.email.label }}<br>
                {{ form.email(size=32) }}<br>
                {% for error in form.email.errors %}
                    <span class="error-message">[{{ error }}]</span>
                {% endfor %}
            </div>
            <div class="form-group">
                {{ form.password.label }}<br>
                {{ form.password(size=32) }}<br>
                {% for error in form.password.errors %}
                    <span class="error-message">[{{ error }}]</span>
                {% endfor %}
            </div>
            <div class="form-group">
                {{ form.confirm_password.label }}<br>
                {{ form.confirm_password(size=32) }}<br>
                {% for error in form.confirm_password.errors %}
                    <span class="error-message">[{{ error }}]</span>
                {% endfor %}
            </div>
            <div class="form-group">
                {{ form.submit(class="submit-button") }}
            </div>
        </form>
    </section>
{% endblock %}